html {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
p,
ul {
  font-family: "Comic Neue", cursive;
}

h2 {
  font-family: "Comic Neue", cursive;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu,
footer {
  height: 48px;
  display: flex;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.menu {
  justify-content: space-between;
}

.menu > div {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.menu a {
  border-left: 2px solid #000;
  padding-left: 10px;
  margin-right: 1em;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.menu a:hover {
  color: #fff;
  background-color: green;
}

footer {
  font-family: "Comic Neue", cursive;
}

.remove-btn {
  cursor: pointer;
}

.remove-btn:hover {
  color: #fff;
  background-color: green;
}

section {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.divide-line {
  width: 100px;
  height: 2px;
  margin-top: 20px;
  background-color: #000;
}

#books {
  margin-top: 30px;
}

#book-list {
  width: 100%;
  border: 4px solid #000;
  font-family: "Comic Neue", cursive;
}

.book-item:nth-child(odd) {
  background-color: #ccc;
}

.book-item p {
  display: flex;
  padding: 2px 10px;
  gap: 10px;
  border: 2px solid black;
}

.book-author {
  flex: 1;
}

.book-item button {
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add-button {
  font-family: "Comic Neue", cursive;
  cursor: pointer;
}

form #add-button {
  width: 50px;
  align-self: flex-end;
  border: 1px solid black;
}

#add-button:hover {
  color: #fff;
  background-color: green;
}

#title-input {
  border: 2px solid black;
}

#author-input {
  border: 2px solid black;
}

.parent {
  display: flex;
  justify-content: end;
}

.parent #today-date {
  margin-right: 1em;
}

.parent #today-time {
  margin-right: 1em;
}
